.controlledtimer {
  $self: &;
  &-wrapper {
    display: flex;
    text-align: center;
    width: 100%;
  }
  &-box-group {
    padding: 0 10px;
    position: relative;
    + #{$self}-box-group {
      &:before {
        color: #212121;
        content: ":";
        font-size: 50px;
        height: 100%;
        left: -6px;
        position: absolute;
        top: 0;
        @media screen and(min-width: 768px) {
          font-size: 100px;
          left: -12px;
        }
      }
    }
  }
  &-box-item {
    background-color: #212121;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 700;
    height: 70px;
    line-height: 70px;
    margin: 0 5px;
    text-align: center;
    width: 50px;
    @media screen and(min-width: 768px) {
      font-size: 100px;
      height: 140px;
      line-height: 140px;
      width: 100px;
    }
  }
}