body {
  background-color: #fff3e6;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: calc(100% - 30px);
}

.page {
  $self: &;
  display: block;
  padding: 50px 0;
  @media screen and(min-width: 768px) {
    padding: 100px 0;
  }
  &-header {
    color: #212121;
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 25px;
    text-align: center;
    @media screen and(min-width: 768px) {
      font-size: 60px;
      padding: 0 0 50px;
    }
  }
  &-sub-title , &-info {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    max-width: 90%;
    @media screen and(min-width: 768px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &-action-wrapper {
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    @media screen and(min-width: 768px) {
      padding: 50px 0;
    }
  }
  &-action-area {
    display: inline-block;
  }
  &-info {
    font-size: 16px;
    line-height: 24px;
    + #{$self}-info {
      margin-top: 8px;
    }
  }
  &-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 8px 0 4px;
    @media screen and(min-width: 768px) {
      font-size: 24px;
      line-height: 32px;
      padding: 16px 0 8px;
    }
  }
  &-table-wrapper {
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    overflow-x: auto;
    width: 100%;
  }
  &-table {
    text-align: left;
    width: 600px;
    @media screen and(min-width: 768px) {
      width: 100%;
    }
    tr {
      @media screen and(min-width: 768px) {
        height: 50px;
      }
    }
    th , td {
      padding: 5px;
      font-size: 12px;
      @media screen and(min-width: 768px) {
        font-size: 16px;
      }
    }
    tbody tr:nth-child(odd)  {
      background-color: #ffe6cc;
    }
  }
  &-code-wrapper {
    -webkit-overflow-scrolling: touch;
    background-color: #ffe6cc;
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    overflow-x: auto;
    padding: 40px;
    white-space: nowrap;
    code {
      padding: 10px 20px;
    }
  }
  &-buttons-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  &-buttons {
    display: inline-block;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    @media screen and(min-width: 768px) {
      margin: 20px 0;
    }
    li {
      float: left;
    }
  }
  &-button {
    background-color: #212121;
    color: #ffffff;
    display: block;
    font-size: 14px;
    margin: 0 6px;
    padding: 8px 15px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    @media screen and(min-width: 768px) {
      font-size: 16px;
      padding: 10px 20px;
      margin: 0 10px;
    }
    &:hover {
      background-color: #424242;
    }
  }
}